<div class="main-header">
	<div class="logo-header">
		<a href="/Book/Index/" class="logo">
			Kütüphane Yönetimi
		</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
	</div>
	<nav class="navbar navbar-header navbar-expand-lg">
		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
				<li class="nav-item">
					<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="/Book/Index/" aria-expanded="false"> <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/kitap.png" alt="kitap" width="36" class="img-circle"><span>Kitap Admin</span></a>
				</li>
			</ul>
		</div>
	</nav>
</div>
